In [7]:
import pandas as pd
import numpy as np
import os, os.path
import pathlib
import json
import re
from functools import partial
from datetime import date

In [8]:
# zbiorcza ramka do głownej analizy
merged_data = pd.DataFrame(
    {"file" : [],
    "participants" : []},
    )

In [ ]:
# aby emotki działały
fix_mojibake_escapes = partial(
        re.compile(rb'\\u00([\da-f]{2})').sub,
        lambda m: bytes.fromhex(m[1].decode()),
    )

In [9]:
#idziemy po wzystkich jsonach w folderze
for file in pathlib.Path('inbox').glob('**/*.json'):
    rozmowa = os.path.basename(file.parent).split('_')[0]    
    
    #importujemy plik z działającymi polskimi znakami
    with open(file, 'rb') as binary_data:
        repaired = fix_mojibake_escapes(binary_data.read())
    data = json.loads(repaired)
    
    #normalna eksploracja danych
    df = pd.DataFrame(data['participants'])
    df_to_merge = pd.DataFrame({"file" : rozmowa,
                                "participants" : df['name'].size},
                              index=[1])
    
    #print(df_to_merge)
    merged_data = pd.concat([merged_data, df_to_merge])

In [10]:
#df['date'] = pd.to_datetime(df.timestamp_ms, unit='ms') <- linijka która zamienia ten dziwny czas timestamp na normlaną datę
merged_data

                file  participants
1               1011          19.0
1          18lukasza          15.0
1                 18           9.0
1               1903          30.0
1   20urodzinkitymka          26.0
..               ...           ...
1       zuzannapirog           2.0
1   zuzannapszczolka           2.0
1    zuzannaschiller           2.0
1       zuzannaschur           2.0
1        zuzarybacka           2.0

[797 rows x 2 columns]

In [11]:
merged_data

                file  participants
1               1011          19.0
1          18lukasza          15.0
1                 18           9.0
1               1903          30.0
1   20urodzinkitymka          26.0
..               ...           ...
1       zuzannapirog           2.0
1   zuzannapszczolka           2.0
1    zuzannaschiller           2.0
1       zuzannaschur           2.0
1        zuzarybacka           2.0

[797 rows x 2 columns]